.Item{
  //display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  box-sizing: border-box;
  &:nth-child(odd) {
    background: @product-second-bgr;
  }
  &:hover {
    background: @product-hover-bgr;
  }
  &__close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    &:hover{
      background-color: @close-btn-hover;
      color: white;
    }
  }
  &--alert{
    background: #ff6666;
  }
}